::-webkit-scrollbar {
  display: none;
}

::-moz-selection {
  color: #000;
  background: teal;
}

::selection {
  color: #000;
  background: teal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Kalam, sans-serif;
}

ul {
  list-style: none;
}

.area {
  color: white;
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}

.area-wrapper {
  width: 100%;
  height: 100vh;

  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
