.form-wrapper {
  position: relative;
  width: 500px;
  height: 436px;
  margin: 200px auto;
  padding: 20px 50px;

  text-align: center;

  border-radius: 25px;
  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.2);

  overflow: auto;
}

.title {
  margin-bottom: 32px;

  font-size: 32px;
  font-weight: 400;

  color: #000;
}

.form-label {
  font-size: 24px;
  text-align: start;

  color: #000;
}

.form-input {
  width: 100%;
  margin-bottom: 32px;
  padding: 8px 0;

  font-size: 20px;

  border: none;
  outline: none;
  border-bottom: 2px solid #fff;

  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-within {
  border-color: teal;
}

.link-wrapper {
  color: #000;
}

.link {
  font-weight: 700;
  text-decoration: none;

  color: black;

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: teal;
}

.form-icon {
  position: absolute;
  top: 60%;
  right: 10%;

  display: block;
  width: 26px;
  height: 26px;

  color: black;

  transition: 250ms color cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon:hover {
  color: teal;
}

button.formkit-input {
  padding: 10px 30px !important;

  font-family: Kalam, sans-serif;
  font-size: 16px !important;

  background: rgba(0, 0, 0, 0.3) !important;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) !important;
}

button.formkit-input:hover,
button.formkit-input:focus {
  background: rgba(0, 0, 0, 0.5) !important;
}
