.backdrop {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.3);
}

.modal-input {
  width: 100%;
  margin-bottom: 32px;
  padding: 8px 0;

  font-size: 20px;

  border: none;
  outline: none;
  border-bottom: 2px solid #fff;

  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  font-family: Kalam, sans-serif;
  font-size: 20px;
}

.modal-input:focus-within {
  border-color: teal;
}

.modal-btn {
  align-self: center;
  padding: 10px 30px;
  width: 100%;

  font-family: Kalam, sans-serif;
  font-size: 16px;

  outline: none;
  border: none;
  border-radius: 12px;

  background: rgba(0, 0, 0, 0.3);
  color: #fff;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn :hover,
.modal-btn :focus {
  background: rgba(0, 0, 0, 0.5);
}