.task-wrapper {
  align-self: flex-start;
  width: 1000px;
  padding: 20px 40px;

  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.2);
}

.task-title {
  margin-bottom: 16px;

  font-size: 44px;
  text-align: center;
}

.task-list {
  max-height: 450px;
  margin-bottom: 16px;

  overflow: auto;
}

.task-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  border-radius: 15px;

  background-color: rgba(255, 255, 255, 0.2);
}

.task-item:not(:last-child) {
  margin-bottom: 10px;
}

.task-textarea {
  resize: none;
  width: 600px;
  height: 30px;
  padding: 4px 12px;

  font-size: 16px;

  border: none;
  outline: none;

  background-color: transparent;
}

.task-textarea::placeholder {
  font-family: Kalam, sans-serif;
}

.task-created {
  font-size: 12px;

  color: #000;
}

.task-completed-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 15px;

  background-color: rgba(0, 0, 0, 0.4);
}

.task-completed {
  position: absolute;
  top: 50%;

  width: 96%;
  transform-origin: -100%;
  height: 4px;
  background-color: teal;

  animation: main 1s;
}

@keyframes main {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.task-select {
  align-self: center;

  border: none;
  outline: none;

  background-color: transparent;
}

.task-btn {
  align-self: center;

  width: 20px;
  height: 20px;

  border: none;

  cursor: pointer;

  background-color: transparent;
}

.task-btn:hover .task-icon,
.task-btn:focus .task-icon {
  fill: rgba(0, 0, 0, 0.8);
}

.task-btn.del {
  z-index: 999;
}

.task-icon {
  width: 100%;
  height: 100%;

  fill: rgba(0, 0, 0, 0.5);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.task-add-signout-btn {
  align-self: center;
  padding: 10px 30px;

  font-family: Kalam, sans-serif;
  font-size: 16px;

  outline: none;
  border: none;
  border-radius: 12px;

  cursor: pointer;

  background: rgba(0, 0, 0, 0.3);
  color: #fff;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.width {
  width: 100%;
}

.task-add-signout-btn:hover,
.task-add-signout-btn:focus {
  background: rgba(0, 0, 0, 0.5);
}
